{% extends 'page.html' %}
{% load staticfiles %}

{% block page %}
	<div class="employer profile">
		<div class="topseg">
			<div class="right">
				<div class="company name">
					{{profile.companyName}}
					<div class="ui large star rating">
					  <i class="icon"></i>
					  <i class="icon"></i>
					  <i class="icon"></i>
					  <i class="icon"></i>
					  <i class="icon"></i>
					</div>
				</div>
				<table class="ui small table info">
					<tr>
						<td class="key">شماره ثبت</td> <td>{{profile.registrationNumber}}</td>
					</tr>
					<tr>
						<td class="key">نوع شرکت</td> <td>{{profile.companyType}}</td>
					</tr>
					<tr>
						<td class="key">شهر</td> <td>{{profile.city}}</td>
					</tr>
					<tr>
						<td class="key">شماره تلفن</td> <td>{{profile.phoneNumber}}</td>
					</tr>
					<tr>
						<td class="key">آدرس</td> <td>{{profile.address}}</td>
					</tr>
					<tr>
						<td class="key">آدرس الکترونیکی</td> <td>{{profile.contactEmail}}</td>
					</tr>
					<tr>
						<td class="key">تارنما</td> <td><a href="{{profile.webSite}}">{{profile.webSite}}</a></td>
					</tr>
				</table>

				<div class="actions">
					<div class="ui small labeled icon green button">
						دنبال کن
						<i class="icon star"></i>
					</div>
					<a class="ui small labeled icon red button" href="/userpanel/inbox/send/?to={{profile.username}}">
						ارسال پیام
						<i class="icon mail"></i>
					</a>
				</div>
			</div>
			<div class="slideshow">
				<div id="employer-carousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				  	{% for compimage in profile.images.all %}
				  		<li data-target="#employer-carousel" data-slide-to="{{forloop.counter}}" {% if forloop.first %} class="active" {% endif %}></li>
					{% endfor %}
				  </ol>

				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
			  		{% for compimage in profile.images.all %}
				  		<div class="item {% if forloop.first %} active {% endif %}">
					      <img src="{{ compimage.image.url }}">
					    </div>
					{% endfor %}
				  </div>

				  <!-- Controls -->
				  <a class="left carousel-control" href="#employer-carousel" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				  </a>
				  <a class="right carousel-control" href="#employer-carousel" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				  </a>
				</div>
			</div>
		</div>
		<div class="bottomseg">
			<div class="pages">
				<div class="ui attached tabular menu">
					{% for page in pages %}
						<a class="item {{ page.id }} {% if forloop.first %} active {% endif %}" data-page-id="{{ page.id }}">
							{{ page.title }}
						</a>
					{% endfor %}
				</div>
				{% for page in pages %}
					<div class="ui attached bottom segment page {{ page.id }} {% if forloop.first %} active {% endif %}">
						{{ page.content }}
					</div>
				{% endfor %}

			</div>
			<div class="commentseg">
				
			</div>
		</div>
{% endblock page %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/rslides.js' %}"></script>	
	<script type="text/javascript" src="{% static 'js/jquery.jcarousel.min.js' %}"></script>	
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
		$(function(){
			$('.commentseg').zComment({
				url: '/comments/employer/{{ profile.id }}/',
				pagination: true,
				addForm: {% if user.userprofile and user.userprofile.is_jobseeker %} true {% else %} {% if  user.userprofile == profile %} true {% else %} false {% endif %}{% endif %}
			});

			$('.carousel').carousel();

			$(".rating").rating("set rating", {{ profile.rate }});
			$(".rating").rating();
			{% if not user.userprofile or user.userprofile.is_employer %}
				$(".rating").rating('disable');
			{% endif %}

			$('.profile .menu .item').click(function(){
				var page_id = $(this).attr('data-page-id');
				$('.pages .item').removeClass('active');
				$(this).addClass('active');

				$('.pages .page').removeClass('active');
				$('.pages .page.' + page_id).addClass('active');
			})
		})
	</script>
{% endblock script %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/rslides.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jcarousel.basic.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<style type="text/css">
		.profile.employer {
			padding: 30px 40px;
		}

		.profile.employer .company.name {
			padding: 10px;
			font-size: 40px;
			font-weight: bold;
			/*width: 200px;*/
			/*float: right;*/
		}

		.profile.employer .company.name .rating{
			margin-top: 10px;
			margin-right: 25px;
		}

		.profile.employer .info.table{
			margin-right: 40px;
			margin-top: 30px;
			max-width: 400px;
			/*clear: both;*/
			/*float: right;*/
		}

		.profile.employer .info.table tr{
			background-color: transparent;
		}

		.profile.employer .info.table .key{
			font-weight: bold;
		}

		.profile.employer .topseg .right .actions{
			margin-top: 30px;
			margin-right: 35px;
		}

		.profile.employer .topseg .right .actions .button{
			margin-right: 18px;
		}

		.profile.employer .slideshow{
			margin-left: 40px;
			background-color: transparent;
			position: absolute;
			top: 80px;
			left: 80px;
			box-shadow: 0 0 10px;
		}

		.profile.employer .slideshow img{
			width: 380px;
			height: 250px;
		}

		.profile.employer .bottomseg {
			clear: both;
			padding-top: 80px;
			padding-left: 40px;
			padding-right: 40px;
		}

		.profile.employer .bottomseg .pages{
			width: 950px;
		}

		.profile.employer .bottomseg .pages .page{
			padding: 30px 30px;
			min-height: 350px;
			max-height: 500px;
			overflow-y: auto;
			display: none;
		}

		.profile.employer .bottomseg .pages .page.active{
			display: block;
		}

		.profile.employer .bottomseg .commentseg{
			margin-top: 50px;
		}

	</style>	
{% endblock style %}