{% extends 'page.html' %}
{% load staticfiles %}


{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/rslides.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jcarousel.basic.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<style type="text/css">
		.profile.jobseeker {
			padding: 30px 40px;
		}

		.profile.jobseeker .name {
			padding: 10px;
			font-size: 40px;
			font-weight: bold;
			/*width: 200px;*/
			/*float: right;*/
		}


		.profile.jobseeker .info.table{
			margin-right: 40px;
			margin-top: 30px;
			max-width: 400px;
			/*clear: both;*/
			/*float: right;*/
		}

		.profile.jobseeker .info.table tr{
			background-color: white;
		}

		.profile.jobseeker .info.table .key{
			font-weight: bold;
		}

		.profile.jobseeker .topseg .actions{
			margin-top: 30px;
		}

		.profile.jobseeker .topseg .actions .button{
			width: 48%;
		}

		.profile.jobseeker .topseg .left {
			margin-left: 40px;
			background-color: transparent;
			position: absolute;
			top: 80px;
			left: 80px;
		}

		.profile.jobseeker .topseg .left .profilepic {
			box-shadow: 0 0 10px;
		}

		.profile.jobseeker .profilepic img{
			width: 380px;
			height: 250px;
		}

		.profile.jobseeker .bottomseg {
			clear: both;
			padding-top: 110px;
			padding-left: 40px;
			padding-right: 40px;
		}

		.profile.jobseeker .bottomseg .pages{
			width: 950px;
		}

		.profile.jobseeker .bottomseg .pages .page{
			padding: 30px 30px;
			min-height: 350px;
			max-height: 500px;
			overflow-y: auto;
			display: none;
		}

		.profile.jobseeker .bottomseg .pages .page.active{
			display: block;
		}

	</style>	
{% endblock style %}

{% block page %}
	<div class="jobseeker profile">
		<div class="topseg">
			<div class="right">
				<div class="user name">
					{{profile.full_name}}
				</div>
				<table class="ui small table info">
					<tr>
						<td class="key">جنسیت</td> <td>{{profile.sex_name}}</td>
					</tr>
					<tr>
						<td class="key">تاریخ تولد</td> <td>{{profile.birthDate}}</td>
					</tr>
					<tr>
						<td class="key">وضعیت کاری</td> <td>{{profile.job_status_name}}</td>
					</tr>
					<tr>
						<td class="key">شهر</td> <td>{{profile.city}}</td>
					</tr>
					<tr>
						<td class="key">آدرس الکترونیکی</td> <td>{{profile.user.email}}</td>
					</tr>
					<tr>
						<td class="key">مهارت‌ها</td> 
						<td>
							{% for skill in skills %}
								{{skill}}
							{% endfor %}
						</td>
					</tr>
					{% if cv_access %}
					<tr>
						<td class="key">کارنامک کاری</td>
						<td>
							<div class="ui tiny labeled icon blue button">
								دریافت کارنامک
								<i class="icon text file outline"></i>
							</div>
						</td>
					</tr>
					{% endif %}

				</table>
			</div>
			<div class="left">
				<div class="profilepic">
					<img src="/media/{{profile.image}}">
				</div>
				<div class="actions">
					{% if user.userprofile.is_jobseeker %}
						{% if is_friend %}
							<div class="ui small labeled icon red cancel friendship button">
								لغو دوستی
								<i class="icon users"></i>
							</div>
						{% else %}
							<div class="ui small labeled icon green request friendship button">
								درخواست دوستی
								<i class="icon users"></i>
							</div>
						{% endif %}
					{% endif %}
					<a class="ui small labeled icon red button" href="/userpanel/inbox/send/?to={{profile.username}}">
						ارسال پیام
						<i class="icon mail"></i>
					</a>
				</div>
			</div>

		</div>
		<div class="bottomseg">
			<div class="pages">
				<div class="ui attached tabular menu">
					{% for page in pages %}
						<a class="item {{ page.id }} {% if forloop.first %} active {% endif %}" data-page-id="{{ page.id }}">
							{{ page.title }}
						</a>
					{% endfor %}
				</div>
				{% for page in pages %}
					<div class="ui attached bottom segment page {{ page.id }} {% if forloop.first %} active {% endif %}">
						{{ page.content }}
					</div>
				{% endfor %}

			</div>

		</div>
{% endblock page %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/rslides.js' %}"></script>	
	<script type="text/javascript" src="{% static 'js/jquery.jcarousel.min.js' %}"></script>	
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
		$(function(){

			$('.profile .menu .item').click(function(){
				var page_id = $(this).attr('data-page-id');
				$('.pages .item').removeClass('active');
				$(this).addClass('active');

				$('.pages .page').removeClass('active');
				$('.pages .page.' + page_id).addClass('active');
			})
		})
	</script>
{% endblock script %}