{% extends 'userpanel/userpanel.html' %}
{% load filters %}

{% block content-title %}
تغییر مشخصات کاربری
{% endblock %}
{% block content %}
<form method="post">
	<div id="userinfoform" class="ui small form basicinfo visible">
		{% csrf_token %}
		<div class="two fields">
			{{form.first_name|semfield}}
			{{form.last_name|semfield}}
		</div>
		<div class="two fields">
			{{form.email|semfield}}
		</div>
		<div class="two fields">
			{{form.address|semfield}}
			{{form.phoneNumber|semfield}}
		</div>
		<div class="two fields">
			{{form.city|semfield}}
			{{form.postalCode|semfield}}
		</div>

		<button class="ui small blue submit button" type="submit">ثبت</button>
	</div>
</form>
{% endblock %}
