{% extends 'userpanel/userpanel.html' %}
{% load staticfiles %}
{% load filters %}

{% block content %}
    <div id="friends">

        <div class="ui top attached inverted red header">
        دوستان
        </div >
        <div id="friends_list" class="ui segment">
            {%  for friend in pending_friends %}
                <div class="ui segment borderless">
                    <img class="rounded ui image" src={{friend.image.url}}>

                    <div class="ui pointing label">
                        {{ friend.user|fullname }}
                    </div>
                    <i _id="{{ friend.id }}" class="large add sign icon acceptFriendShip"></i>
                    <i _id="{{ friend.id }}" class="large remove circle icon rejectFriendShip"></i>

                </div>
            {% endfor %}
{#            <br>#}

            {%  for friend in friends %}
                <div class="ui segment borderless">
                    <img class="rounded ui image" src={{friend.image.url}}>

                    <div class="ui pointing label">
                        {{ friend.user|fullname }}
                    </div>
                    <i _id="{{ friend.id }}" class="large remove circle icon rejectFriendShip"></i>
                </div>
            {% endfor %}
        </div>
        <div id="friends_search" class="ui segment">
            <div class="mini ui icon input searchbar">
                <input type="text" name="name" placeholder="دوستان خود را بیابید...">
                <i class="red inverted search icon"></i>
            </div>


        </div>




    </div>


{% endblock %}