{% load staticfiles %}

<div id="inbox">
	<!-- <div class="ui red segment attach"></div> -->
	<div class="ui top attached inverted red header">
		پیغام‌ها
		
	</div>
	<div class="ui segment attached main">
		<div class="ui segment toolbar">
			<div class="mini ui icon input searchbar">
				<input type="text" placeholder="جستجو...">
				<i class="red inverted search icon"></i>
			</div>
			<div class="ui red icon label labeled button send">
				<i class="mail icon"></i>
				پیغام جدید
			</div>
		</div>
		<div class="ui segment nopadding" id="inbox-content">
			<table class="ui table segment attached inbox">
				<div class="ui inverted dimmer" id="inbox-dimmer">
				</div>
				<tbody>
				<tr>
					<td class="from">حسام باقری‌نژاد</td>
					<td class="subject">آبدارچی شدم :دی</td>
					<td class="time">21:22</td>
					<td class="reply"><i class="reply mail icon link icon"></i></td>
				</tr>
				<tr>
					<td class="from">سینا رشیدیان</td>
					<td class="subject">چه قد خفنه این پورتاله</td>
					<td class="time">07:14</td>
					<td class="reply"><i class="reply mail icon link icon"></i></td>
				</tr>
				<tr>
					<td class="from">حسام باقری‌نژاد</td>
					<td class="subject">کار گیرم نمی‌آد... :|</td>
					<td class="time">۴ آذر</td>
					<td class="reply"><i class="reply mail icon link icon"></i></td>
				</tr>
				<tr>
					<td class="from">مدیر پورتال</td>
					<td class="subject">به پورتال خوش‌ آمدید</td>
					<td class="time">۲۶ آبان</td>
					<td class="reply"><i class="reply mail icon link icon"></i></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
