{% load staticfiles %}
{% load filters %}
<div class="username">
  <a href="/userpanel" class="avatar">
    {% if user.userprofile.image %}
      <img src="/media/{{user.userprofile.image}}">
    {% else %}
      <img src="{% static 'images/profilepic.png' %}">
    {% endif %}
  </a>
  <a href="/userpanel" class="name"><h2>{{user|fullname}}</h2></a>
	<div class="clear"></div>
</div>
<div class="ui small secondary vertical menu">
  <a class="item" page="inbox" href="/userpanel/inbox/list/">
    <i class="inbox icon"></i>
    پیغام‌ها
  </a>
  <a class="item" page="jobs" href="/userpanel/jobs/">
    <i class="doctor icon"></i>
    فرصت‌های شغلی
  </a>
  <a class="item" page="friends" href="/userpanel/friends/">
    <i class="users icon"></i>
    دوستان
  </a>
  <a class="item" page="profile" href="/userpanel/profile/">
    <i class="user icon"></i> 
    مشخصات
  </a>
  <a class="item" page="settings" href="/userpanel/settings/">
    <i class="settings icon"></i> 
    تنظیمات
  </a>
</div>

