{% extends "page.html" %}
{% load staticfiles %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/userpanel.css' %}">
{% endblock style %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/userpanel.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/sammy.js' %}"></script>
{% endblock script %}


{% block page %}
	<div id="userpanel">
		<div id="panelmenu">
			{% block panelmenu %}
				{% if user.userprofile.is_jobseeker %}
					{% include 'userpanel/jobseeker.html' %}
				{% else %}
					{% include 'userpanel/employer.html' %}
				{% endif %}
			{% endblock %}
		</div>
		<div class="ui basic segment content-container">
			<div class="ui" id="dimmer">
			</div>
			<div id="content">
				{% block content %}

				{% endblock %}
			</div>
		</div>
	</div>
{% endblock page %}
