body{
	margin: 0;
	font-family: yekan, "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background-color: rgb(252, 252, 252);
}
#portal input{
    font-family: yekan;
}

#top-menu{
	border-radius: 0px;
    z-index: 10000;
}

#top-menu .menu{
	margin: 10px 0px;
	color: rgb(230, 230, 230);
}

#top-menu .right.menu{
	margin-left: 50px;
}

#top-menu .searchbox{
	margin: 0px 100px;
}

#top-menu .searchbox input[type='text']{
	background-color: rgba(240,240,240,200);
	min-width: 450px;
	padding-top: 8px;
	padding-bottom: 8px;
}
#top-menu .searchbox input[type='text']:focus{
	background-color: rgba(250,250,250,200);
	/*min-width: 800px;*/
}

#top-menu .item{
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 8px;
}

#top-menu .item .icon{
	padding-top: 5px;
}

.main.container{
	padding-top: 70px;
}

.page.container{
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 140px;
	min-height: 500px;
	position: relative;
}

.footer{
	background-color: rgb(50, 50, 50);
	min-height: 150px;
	margin: 0px;
	padding: 0px;
	margin-top: 100px;
}

.red{
	background-color: red;
}

.blue{
	background-color: blue;
}

.rtl{
	direction: rtl;
}