.ui.steps {

} 

.register {
	margin: 0 auto;
	direction: rtl;
	width: 850px;
}

.register h2 {
	margin-right: 30px;
}

.register .field.sex {
    margin-bottom: 30px;
}

.register .field.sex .wrap{
    margin-top: 10px;
    margin-right: 40px;
}

.register .ui.dropdown.city {
    margin-right: 40px;
}

.register .ui.dropdown.city .menu{
    overflow-y: scroll;
    min-width: 200px;
    max-height: 200px;
}

/*.register .ui.steps .step:after {
	border-bottom: 1.8em solid transparent;
}*/

.register .ui.steps .step.active {
    cursor: pointer;
}

.register .steps .icon {
	margin-right: 20px;
	padding: 0px;
}

.register .maincontent {
	border: 1px solid rgb(210, 210, 210);
	border-top: none;
	min-height: 200px;
	padding: 40px;

    padding-left: 50px;
    padding-right: 50px;

	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.alignleft{
    float: left;
}


.ui.labeled.input .corner.label {
    top: 0px;
}

#portal input{
    font-size: 0.907em;
}

.hide{
    display: none;
}

.vertical.icon .icon{
    margin-top: -8px;
}

.link{
    text-decoration: underline;
    color: #00BEAD;
}

#portal .ui.modal{
    width: 50%;
    margin-right: -25%;
}

.bottomMargined{
    position: relative;
    bottom: 6px;
}

.register .next.proceed {
    margin-top: 30px;
}

.register .form.final .segment {
    padding-top: 30px;
    padding-right: 50px;
}

.register .form.final p{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 35px;
}

.register .form.final .finished.icon {
    color: green;
}