#main{
	margin-right: auto;
	margin-left: auto;
}
#searchresult thead th{
	padding-bottom: 20px;
	font-size: 18px;
}

#searchresult td{
	font-family: koodak;
}

#main .skill-tag{
	margin-top: 10px;
	/*float:right;*/
	direction: rtl;
}

#main .skill-tag:first-child{
	margin-right: 3px;
}

#main .skill-tag i{
	margin-left: 5px;
	margin-right: -3px;
}

#add-sign{
	font-size: 23px;
}

#tag-search-input{
	width: 200px;
}

#main .tag-search-input-parent{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	width: 220px;
}

#tag-search-list{
	margin-right: 8px;
}

#main .add-tag-icon{
	color: #CF2929;
}

#main .opportunity{

}

#main .opp-header{
	margin-right: 0px;
}

#main .opp-action{
	text-align: left;
}

#main .rating{
	direction: ltr;
}

#main .opp-rating{
	display: block;
}

#main .opp-request{
	margin-top: 15px;
	width: 100px;
	font-size: small;
}

#main .opp-more{
	width: 100px;
	margin-top: 5px;
	font-size: small;
}

#opp-pagination{
	direction: ltr;
	margin-right: 180px;
	margin-top: 10px;
}

.scoreboard{
	margin-left: 6px;
	margin-bottom: 7px;
}

#main .small.rating{
	margin-right: 30px;
	margin-top: 6px;
}

.modal img{
	width: 150px;
	float: right;
	margin-top: 25px;
}

#companyList{
	float: right;
	margin-right: 25px;
}

#opList{
	float: right;
	margin-right: 150px;
}

#sex-one{
	margin-left: -5px;
}

.userImage img{
	width: 120px;
}

#main .user-info{
	margin-right: 0px;
}

#main .user-header{
	margin-right: 20px;
}
.clearfix{
	clear: both;
}