.page.container {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
}

#userpanel {
	/*margin-top: 10px;*/
	margin-right: 10px;	
}

#userpanel .username {
	margin-right: 5px;
	margin-bottom: 40px;
	min-width: 250px;
}

#userpanel .username h2 {
	margin: 0px;
	margin-right: 10px;
}

#userpanel .username a {
	text-decoration: none; 
	color: black;
}

#userpanel .username .avatar {
	display: table-cell;
	vertical-align: top;
}

#userpanel .username .avatar img{
	margin: 0px;
	width: 2.5em;
}

#userpanel .username .name{
	vertical-align: top;
	display: table-cell;
	padding: 0.5em 0.5em 0;
	margin-right: 10px;
}

.clear{
	clear: both;
}

#userpanel #panelmenu {
	/*margin-top: 30px;*/
	position: fixed;
	z-index: 800;
}

#userpanel .content-container {
	margin-top: 20px;
	margin-right: 260px;
	margin-left: 50px;

	padding: 20px;
	/*width: 800px;*/
}

#userpanel .ui.segment {
	z-index: 800;
}

#userpanel .event {
	font-family: koodak;
}


#userpanel .newsrow{
	margin-top: 30px;
}

#userpanel .news{
	padding: 10px;
	font-family: terafik;
}

#userpanel .news.heading{
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

#userpanel .news.continue{
	float: left;
}

#userpanel .news.elem{
	float: left;
}

#userpanel .news.elem.center{
	float: none;
	margin-right: 20px;
}


/**********/
/* Inbox **/
/**********/

#userpanel #inbox .main {
	/*min-height: 400px;*/
}

#userpanel #inbox .table.inbox {
	font-family: terafik;
}

#userpanel #inbox .table.inbox {
	font-family: terafik;
}

#userpanel #inbox .table .from {
	width: 20%;
}

#userpanel #inbox .table .subject {
	/*width: 30%;*/
}

#userpanel #inbox .table .time {
	width: 10%;
	text-align: left;
}

#userpanel #inbox .table .reply {
	width: 20px;
}

#userpanel #inbox .header {
	font-family: yekan;
	font-size: 16px;
	/*padding-bottom: 20px;*/
}

#userpanel #inbox .toolbar input[type='text'] {
	width: 300px;
} 

#userpanel #inbox .send.button {
	/*text-align: left;*/
	/*display: none;*/
	float: left;
}

#userpanel #inbox tr{
	cursor: hand;
}

#userpanel #inbox tr:hover{
	background-color: rgba(0, 0, 50, 0.1);
}

#userpanel #inbox thead tr th{
	color: white;	
}
