{% extends 'userpanel/userpanel.html' %}
{% load staticfiles %}

{% block content %}
<div id="inbox">
	<!-- <div class="ui red segment attach"></div> -->
	<div class="ui top attached inverted red header">
		پیغام‌ها
		
	</div>
	<div class="ui segment attached main">
		<div class="ui segment toolbar">
			<div class="mini ui icon input searchbar">
				<input type="text" placeholder="جستجو...">
				<i class="red inverted search icon"></i>
			</div>
			<div class="ui red icon label labeled button send">
				<i class="edit icon"></i>
				پیغام جدید
			</div>
		</div>
		<div class="ui segment nopadding" id="inbox-content">
			{% block inboxcontent %}

			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}