{% extends 'userpanel/inbox/inbox.html' %}
{% load filters %}
{% load date_tags %}

{% block inboxcontent %}
<table class="ui table segment attached inbox">
	<div class="ui inverted dimmer" id="inbox-dimmer">
	</div>
	<tbody>
	{% for message in inbox %}

	<tr data-message-id='{{message.id}}'>

        <td class="from">
            {% if message.unread %}<b>{% endif %}
                {{message.sender|fullname}}
            {% if message.unread %}</b>{% endif %}
        </td>

		<td class="subject">
            {% if message.unread %}<b>{% endif %}
                {{message.subject}}
            {% if message.unread %}</b>{% endif %}
        </td>

		<td class="time">
            {% if message.unread %}<b>{% endif %}
            {% get_jalali_date message.time %}
             ساعت
            {% get_persian_time message.time %}
            {% if message.unread %}</b>{% endif %}
        </td>


		<td class="reply"><!-- <i class="reply mail icon link icon"></i> --></td>

	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}