<div class="ui segment mail">
	<div class="ui basic segment">
		<div>
			 <span class="subject">آبدارچی شدم :دی</span>
		</div>
		<div>
			<span class="from heading">فرستنده:</span> <span class="from">حسام باقرینژاد</span>
		</div>
		<div>
			<span class="date heading">تاریخ ارسال:</span> <span class="date">۲۳/۹/۹۲ ۱۳:۰۲</span>
		</div>
	</div>

	<div class="ui  segment">
		سلام هادی، خوبی؟ 
</br>
ببین من رفتم این بیان آبدارچی شدم، خیلی حال میده. میگم تو هم برو چای درست کردن یاد بگیر بیا، پولش خوبه...
</br>
حسام
	</div>	
</div>
