{% extends 'userpanel/inbox/inbox.html' %}

{% block inboxcontent %}
<div class="ui segment sendmail">
	<div class="ui basic segment">
		<div class="ui form">
            <div class="field">
                <input id="recipient"type="text" placeholder="گیرنده...">
            </div>
            <div class="field">
				<input id="subject"  type="text" placeholder="موضوع...">
			</div>
			<div class="field">
				<textarea id="message"  class="message" placeholder="متن پیغام..."></textarea>
			</div>
			<div id = "sendMail" class="ui red small labeled submit icon button">
            	<i class="icon edit"></i> ارسال
          	</div>
		</div>
	</div>
</div>
{% endblock %}