<div class="ui form company visible">
    <div class="two fields">
        <div class="field">
            <label>نام شرکت</label>

            <div class="ui left labeled input">
                <input name="name" type="text" placeholder="نام شرکت"/>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>زمینه کاری</label>

            <div class="ui selection dropdown">
                <input type="hidden" name="gender">
                <div class="text">تکنولوژی</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item active" data-value="0">تکنولوژی</div>
                    <div class="item" data-value="1">آموزشی</div>
                    <div class="item" data-value="2">بهداشتی درمانی</div>
                    <div class="item" data-value="3">تجاری</div>
                    <div class="item" data-value="4">صنعتی</div>
                    <div class="item" data-value="5">حقوقی</div>
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>آدرس</label>

            <div class="ui left labeled icon input">
                <input name="address" type="text" placeholder="آدرس"/>
                <i class="map marker icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>شماره تماس</label>

            <div class="ui left labeled icon input">
                <input name="phone" type="text" placeholder="تلفن تماس"/>
                <i class="phone icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>شماره ثبت شرکت</label>

            <div class="ui left labeled icon input">
                <input name="registerNumber" type="text" placeholder="شماره ثبت شرکت"/>
                <i class="barcode icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>سال تاسیس</label>

            <div class="ui left labeled icon input">
                <input name="since" type="text" placeholder="سال تاسیس"/>
                <i class="calendar icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui teal submit button basicinfo alignleft">ادامه</div>
    </div>
    <div class="ui error message">
        <div class="header">لطفا خطاها را رفع کنید.</div>
    </div>
</div>