{% extends "page.html" %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock style %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sammy.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock script %}


{% block page %}
    <div class="register">
        <h2>ثبت نام کارجو</h2>

        <div class="ui small five steps">
            <div id="user_info_step" class="ui disabled step">
                مشخصات کاربری
                <!-- <i class="User icon"></i> -->
            </div>
            <div id="personal_info_step" class="ui disabled step">
                مشخصات فردی
                <!-- <i class="User icon"></i> -->
            </div>
            <div id="work_info_step" class="ui disabled step">
                مشخصات کاری
                <!-- <i class="User icon"></i> -->
            </div>
            <div id="skills_step" class="ui disabled step">
                مهارت‌ها
                <!-- <i class="stethoscope icon"></i> -->
            </div>
            <div id="confirm_step" class="ui disabled step">
                پایان
            </div>
        </div>
        <div class="maincontent">
            <div class="ui basic segment">
                <div class="ui active inverted dimmer" id="dimmer">
                </div>
                <form id="register-form">

                </form>
            </div>
        </div>
    </div>
{% endblock page %}