<div class="ui form basicinfo visible">
    <div class="two fields">
        <div class="field">
            <label>نام</label>

            <div class="ui left labeled input">
                <input name="firstname" type="text" placeholder="نام"/>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>نام خانوادگی</label>

            <div class="ui left labeled input">
                <input name="lastname" type="text" placeholder="نام خانوادگی"/>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>نام کاربری</label>

            <div class="ui left labeled icon input">
                <input name="username" type="text" placeholder="نام کاربری"/>
                <i class="user icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>آدرس الکترونیکی</label>

            <div class="ui left labeled icon input">
                <input name="email" type="text" placeholder="آدرس الکترونیکی"/>
                <i class="mail icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>رمزعبور</label>

            <div class="ui left labeled icon input">
                <input name="password" type="password" placeholder="رمز عبور"/>
                <i class="lock icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
        <div class="field">
            <label>تکرار رمز عبور</label>

            <div class="ui left labeled icon input">
                <input name="password-repeat" type="password" placeholder="تکرار رمز عبور"/>
                <i class="lock icon"></i>

                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>جنسیت:</label>

            <div class="ui radio checkbox">
                <input type="radio" name="gender" value="male">
                <label><i class="male large icon"></i></label>
            </div>
            <div class="ui radio checkbox">
                <input type="radio" name="gender" value="female">
                <label><i class="female large icon"></i></label>
            </div>
        </div>
        <div class="field">
            <div class="ui teal submit button basicinfo alignleft">ادامه</div>
        </div>
    </div>
    <div class="ui error message">
        <div class="header">لطفا خطاها را رفع کنید.</div>
    </div>
</div>