<div class="ui form final hide">
    <div class="ui segment">
        <p>
            تبریک! ثبت‌نام تقریبا کامل شده است.
        </p>

        <p>
            <i class="purple massive thumbs up outline icon alignleft"></i>
            پس از ثبت نام شما می‌توانید به ده‌ها امکانات تارنمای
            کاریابی دانشجویی دسترسی داشته باشید. با تکمیل ثبت‌نام یک
            پست الکترونیکی حاوی اطلاعات فعال‌سازی حساب کاربری شما
            به آدرس الکترونیکی‌ای که وارد کرده‌اید ارسال می‌شود.
            حتما از درستی آدرس الکترونیکی خود اطمینان حاصل کنید.
        </p>
    </div>
    <div class="ui segment">
        <div class="two fields">
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="terms">
                    <label><span id="terms" class="link">قوانین سایت</span> را مطالعه کرده‌ام و مورد تایید است.</label>
                </div>
            </div>
            <div class="field">
                <div class="ui tiny icon teal submit button alignleft">
                    تکمیل ثبت‌نام
                </div>
            </div>
        </div>
    </div>
</div>

<div id="termsModal" class="ui modal">
    <div class="header">
        قوانین سایت
    </div>
    <div class="content">
        <p>
            اینجا قوانین سایت میاد.
        </p>
    </div>
</div>