<div class="ui form skills hide">
    <div class="ui two column middle aligned relaxed grid basic segment">
        <div class="column possible">
            <p>از لیست زیر مهارت‌های خود را انتخاب کنید:</p>
            <div class="ui top attached icon input">
                <input id="searchPossibleSkills" type="text" placeholder="جستجو...">
                <i class="search icon"></i>
            </div>
            <div class="ui attached segment">
                <div id="loadingPossibleSkills" class="ui inverted dimmer skill">
                    <div class="ui text loader">
                        <i class="loading icon"></i>
                        لطفا صبر کنید.
                    </div>
                </div>
                <div class="ui divided list">
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">جاوااسکریپت</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">سی‌پلاس‌پلاس</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">طراحی‌شئ‌گرا</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">بهینه‌سازی</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">متلب</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">یادگیری ماشین</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">طراحی داده‌ساختارها</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny blue ui icon button">
                            <i class="add icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">جبر خطی</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical icon divider">
            <i class="exchange icon"></i>
        </div>
        <div class="column current">
            <p>مهارت‌های شما:</p>
            <div class="ui top attached icon input">
                <input id="searchCurrentSkills" type="text" placeholder="جستجو...">
                <i class="search icon"></i>
            </div>
            <div class="ui attached segment">
                <div id="loadingCurrentSkills" class="ui inverted dimmer skill">
                    <div class="ui text loader">
                        <i class="loading icon"></i>
                        لطفا صبر کنید.
                    </div>
                </div>
                <div class="ui divided list">
                    <div class="item">
                        <div class="right floated tiny red ui icon button">
                            <i class="remove icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">جاوا</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="right floated tiny red ui icon button">
                            <i class="remove icon"></i>
                        </div>
                        <div class="content">
                            <div class="header">مدیریت پروژه</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui buttons alignleft bottomMargined">
        <div class="ui purple icon button skip" title="موکول به بعدا">
            <i class="reply mail icon"></i>
        </div>
        <div class="ui green button proceed">ادامه</div>
    </div>
</div>

