{% load staticfiles %}
<html>
	<head>
		<title></title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		{% block style %}

		{% endblock style %}
		
		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/semantic.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
		{% block script %}

		{% endblock script %}
	</head>
	<body id="portal">
		{% block body %}

		{% endblock %}
	</body>
</html>
