{% extends "base.html" %}

{% block body %}
	<div id="top-menu" class="ui fixed transparent inverted main menu">
		<div class="left menu">

			<div class="ui small icon input rtl searchbox">
				  <input type="text" placeholder="جستجو شغل...">
				  <i class="search icon"></i>
			</div>

		</div>
		<div class="right menu">
			  <a class="item">
				<i class="settings icon"></i>
			  </a>
			  <a class="item">
				<div class="ui label">51</div>
				<i class="mail icon"></i>
			  </a>

		</div>
	</div>
	<div class="main container rtl">
		<div class="page container">
			{% block page %}

			{% endblock %}
		</div>
	</div>

	<div class="footer">

	</div>	
{% endblock %}