{% extends "page.html" %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock style %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/registerCompany.js' %}"></script>
{% endblock script %}


{% block page %}
    <div class="register">
        <h2>ثبت نام شرکت‌ها</h2>

        <div class="ui three steps">
            <div id="companyStep" class="ui active step">
                مشخصات شرکت
                <i class="stethoscope icon"></i>
            </div>
            <div id="personStep" class="ui disabled step">
                فرد در ارتباط
                <i class="User icon"></i>
            </div>
            <div id="finalStep" class="ui disabled step">
                پایان
            </div>
        </div>
        <div class="maincontent">
            <form action="google.com">
                {% include 'register/companyinfo.html' %}
                {% include 'register/personinfo.html' %}
                {% include 'register/final.html' %}
            </form>
        </div>
    </div>
{% endblock page %}