{% extends "page.html" %}
{% load staticfiles %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock style %}

{% block script %}

{% endblock script %}


{% block page %}
	<div class="register">
		<h2>ثبت نام</h2>
		<div class="ui four steps">
		  <div class="ui active step">
		    مشخصات فردی
		  	<i class="User icon"></i>
		  </div>
		  <div class="ui disabled step">
		    مهارت‌های
		    <i class="Wrench icon"></i>
		  </div>
		  <div class="ui disabled step">
		    دوست‌ها
		    <i class="Users icon"></i>
		  </div>
		  <div class="ui disabled step">
		    پایان
		  </div>
		</div>
		<div class="content">
			اینجا فرم بذار
		</div>
	</div>
{% endblock page %}