{% extends "page.html" %}
{% load staticfiles %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/userpanel.css' %}">
{% endblock style %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/userpanel.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/davis.min.js' %}"></script>
{% endblock script %}


{% block page %}
	<div id="userpanel">
		<div id="panelmenu">
			<div class="username">
				<a href="/userpanel" class="avatar">
					<img src="{% static 'images/hadi.png' %}">
				</a>
				<a href="/userpanel" class="name"><h2>هادی ذوالفقاری</h2></a>
				<div class="clear"></div>
			</div>
			<div class="ui small secondary vertical menu">
			  <a class="item" page="inbox" >
			    <i class="inbox icon"></i>
			    پیغام‌ها
			  </a>
	  		  <a class="item" page="jobs" href="/userpanel/jobs/">
			    <i class="doctor icon"></i>
			    فرصت‌های شغلی
			  </a>
			  <a class="item" page="friends" href="/userpanel/friends/">
			    <i class="users icon"></i>
			    دوستان
			  </a>
			  <a class="item" page="search" href="/userpanel/search/">
			    <i class="search icon"></i>
			    جستجو
			  </a>
			  <a class="item" page="profile" href="/userpanel/profile/">
			    <i class="user icon"></i> 
			    مشخصات
			  </a>
			  <a class="item" page="settings" href="/userpanel/settings/">
			    <i class="settings icon"></i> 
			    تنظیمات
			  </a>
			</div>
		</div>
		<div class="ui basic segment content-container">
			<div class="ui active inverted dimmer" id="dimmer">
			</div>
			<div id="content">
				
			</div>
		</div>
	</div>
{% endblock page %}
