{% extends 'userpanel/userpanel.html' %}
{% load filters %}

{% block content-title %}
تغییر مشخصات شرکت
{% endblock %}
{% block content %}
<form method="post">
	<div id="userinfoform" class="ui small form basicinfo visible">
		{% csrf_token %}
		<div class="two fields">
			{{form.companyName|semfield}}
			{{form.companyType|semfield}}
		</div>
		<div class="two fields">
			{{form.registrationNumber|semfield}}
			{{form.establishDate|semfield}}
		</div>
		<div class="two fields">
			{{form.webSite|semfield}}
			{{form.contactEmail|semfield}}
		</div>

		<button class="ui small blue submit button" type="submit">ثبت</button>

		{% if state == 'success' %}
			<div class="change success">
				تغییرات با موفقیت ثبت شد
			</div>
		{% endif %}
	</div>

</form>
{% endblock %}
