{% extends 'userpanel/userpanel.html' %}
{% load staticfiles %}
{% load date_tags %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jobs.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="ui small purple feed raised segment eventlist">
        <h4 class="ui header">
            فرصت‌های شغلی
        </h4>

        <div class="ui divider"></div>
        {% for i in items %}
            <div id="job{{ i.job.id }}" class="event">
                <div class="label">
                </div>
                <div class="content">
                    <div class="date">
                        <div>
                        تاریخ اعتبار:
                            {% get_jalali_date i.job.expireDate %}
                        </div>
                        <div>
                            <div class="ui buttons">
                                <div class="ui tiny positive button" onclick="editJob({{ i.job.id }})">ویرایش</div>
                                <div class="ui tiny red button" onclick="deleteJob({{ i.job.id }})">حذف</div>
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <a style="text-decoration: none; color:black" href="/jobs/{{i.job.id}}/"> {{ i.job }}</a>
                    </div>
                    <div class="extra content">{{ i.pending }} پیشنهاد معلق. {{ i.accepted }} پیشنهاد قبول شده {{ i.rejected }} پیشنهاد رد شده</div>
                </div>
            </div>
        {% empty %}
            <div class="event">
                <div class="label">
                </div>
                <div class="content">
                    <div class="date">
                    </div>
                    <div class="summary">
                        موردی یافت نشد.
                    </div>
                    <div class="extra content">
                        برای ایجاد کردن فرصت شغلی روی گزینه‌ی پایین کلیک کنید.
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="ui small positive button" onclick="newJob()">افزودن</div>
{% endblock %}